<!DOCTYPE html>
<html>
  <head>
    <title>Antonio David - Web Dev</title>
    <%= csrf_meta_tags %>
    
    <!-- additional meta tag to trigger responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW0yhgodxlSGX1XOY584gJJ4VbvtCmM1g&callback=initMap">
    </script>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body>
    <!-- additional .wrapper .push and .footer elements for 'sticky footer' -->
    <div class="wrapper" id="page-top">
       <%= render 'shared/nav' %>
      <%= yield %> 
    </div>
    <div class="push"></div>
    <%= render 'shared/footer' %>
  </body>
</html>
